@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Training Service Provider<h1 />
        <img src="~/image/it.png" class="img-fluid" />
    </h1>
</div>